{% extends 'base.html' %}

{% block content %}
    {# 使用length 过滤器获得movies变量的长度 等同于py的len(movies)#}
    <p>{{ movies|length }} movies</p>
    <ul class="movie_list">
        {% for movie in movies %}
        <li>
            {{ movie.title }} - {{ movie.year }}    {# 等同于movie['title'] #}
                <span class="float_right">
                    <a class="douban"
                       href="https://search.douban.com/movie/subject_search?search_text={{ movie.title }}"
                       target="_blank" title="Douban">Douban</a>
                </span>
        </li>
        {% endfor %}
    </ul>
{% endblock %}