<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>{{ user.name }}'s watchlist</title>
</head>
<body>
    <h2>
        <img alt="logo" class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
        {{ user.name }}:
    </h2>
    {# 使用length 过滤器获得movies变量的长度 等同于py的len(movies)#}
    <p>{{ movies|length }} movies</p>
    <ul class="movie_list">
        {% for movie in movies %}
        <li>{{ movie.title }} - {{ movie.year }}</li>   {# 等同于movie['title'] #}
        {% endfor %}
    </ul>
    <footer>
        <img alt="Chihiro" class="Chihiro" src="{{ url_for('static', filename='images/Chihiro.gif') }}">
        <small>
            Created by <a href="https://github.com/LeonZou7">Leon</a>
        </small>
    </footer>
</body>
</html>